<footer class="site-footer">
    {{- $icon := resources.Get "brand/icon-full-colour.svg" | fingerprint }}
    <div class="footer-row">
        <img class="footer-mark" src="{{ $icon.RelPermalink }}" alt="" width="20" height="20">
        <ul class="footer-links">
            <li><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
            {{- range .Site.Menus.footer }}
            <li><a href="{{ .URL }}"{{ if strings.HasPrefix .URL "http" }} rel="me noopener" target="_blank"{{ end }}>{{ .Name }}</a></li>
            {{- end }}
        </ul>
    </div>
    <p>{{ replace .Site.Params.copyright "{year}" now.Year }}</p>
</footer>
