<footer id="footer">
    <hr>
    <div class="footer">
        <div class="footer-left">
            <a href="/">
                <img src="/logo-full.png" alt="Miika Nissi logo" width="100" />
            </a>
        </div>
        <div class="footer-right">
            {{- if isset .Params "date" }}
            <p>
                {{ i18n "posts.posted_on" }} <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format ":date_long" }}</time>.
            </p>
            {{ if ne .Lastmod.Day .Date.Day }}
            <p>
                {{ i18n "posts.updated_on" }} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod | time.Format ":date_long" }}</time>.
            </p>
            {{ end }}
            {{- end -}}
            <p>
                <span class="copyright">{{ replace .Site.Params.copyright "{year}" now.Year }}</span>
                {{ with .Site.Params.email -}}
                <span class="email">&lt;<a href="mailto:{{ . }}">{{ . }}</a>&gt;.</span>
                {{ end }}
            </p>
        </div>
    </div>
</footer>
