<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <title>{{ .Site.Params.title }}</title>
    {{ else }}
    {{- if isset .Params "description" }}
    <meta name="description" content="{{ .Description }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    {{- if isset .Params "title" }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>{{ .Site.Params.title }}</title>
    {{ end }}
    <meta name="author" content="{{ .Site.Params.author }}">
    {{ end }}
    {{ with .Params.relcanonical }}
    <link rel="canonical" href="{{ . | relLangURL }}" itemprop="url" />
    {{ else -}}
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    {{ end -}}
    {{ printf `
    <link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
    {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
    {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ if not (eq $dark "off") -}}
    {{ $resources = $resources | append (resources.Get "css/syntax-dark.css" | resources.ExecuteAsTemplate "syntax-dark.css" .) -}}
    {{ end -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `
    <link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ partial "favicon.html" . }}
    {{ partial "jsonld.html" . }}
</head>
