<header id="banner">
    {{ if .IsHome }}
    <h1 class="site-title">
        {{ .Site.Title }} <small><em><a href="{{ .Site.BaseURL }}">({{ .Site.BaseURL }})</a></em></small>
    </h1>
    {{ else }}
    <h2 class="site-title">
        {{ .Site.Title }} <small><em><a href="{{ .Site.BaseURL }}">({{ .Site.BaseURL }})</a></em></small>
    </h2>
    {{ end }}
    <hr />
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}"{{ if strings.HasPrefix .URL "http" }} target="_blank" rel="noopener"{{ end }}>{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
