{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ProfessionalService",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "email": "{{ .Site.Params.email }}",
      "founder": { "@type": "Person", "name": "{{ .Site.Params.author }}" }
    },
    {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}",
      "url": "{{ .Site.BaseURL }}",
      "email": "{{ .Site.Params.email }}"
    }
  ]
}
</script>
{{- else if eq .Section "apps" }}
{{- if .Params.price }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ .Title }}",
  "description": "{{ .Description | default .Params.summary }}",
  "applicationCategory": "BusinessApplication",
  "operatingSystem": "Odoo {{ delimit .Params.odoo_versions ", " }}",
  "url": "{{ .Permalink }}",
  "offers": {
    "@type": "Offer",
    "price": "{{ .Params.price }}",
    "priceCurrency": "{{ .Params.currency | default "USD" }}",
    "url": "{{ .Params.store_url }}"
  },
  "author": { "@type": "Person", "name": "{{ .Site.Params.author }}" }
}
</script>
{{- end }}
{{- else if eq .Section "posts" }}
{{- $author := or .Params.author .Site.Params.author }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title | safeJS }}",
  "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{ .Summary | safeJS }}{{ end }}",
  "inLanguage": "{{ .Site.Language.Locale }}",
  "mainEntityOfPage": { "@type": "WebPage", "@id": "{{ .Permalink }}" },
  "author": { "@type": "Person", "name": "{{ $author }}", "url": "{{ .Site.BaseURL }}" },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "url": "{{ .Permalink }}",
  "wordCount": "{{ .WordCount }}"
}
</script>
{{- end }}
